@font-face {
    font-family: "Anfisa Grotesk";
    src: url("../font/anfisa/anfisagrotesk.woff2") url("../font/anfisa/anfisagrotesk.woff")
}
#all
	{
		border-width: thin;
		border-style: solid;
		border-color: #007e7e;
	}
#header
	{
		border-width: thin;
		border-style: solid;
		border-color: #007e7e;	
	}

p
	{
		color:#6227ff;
	}
h1
	{
		color:#ff6227;
		font-size:150%;
	}
h2
	{
		color:#ff6227;
		font-size:150%;
	}
body
	{
		font-family: Anfisa Grotesk , sans-serif;
		background-color:#ffd474;
		font-size:xx-large;
		text-align:center;
		font-weight:normal;
	}	
#guarantee
	{
		border-color: black;
		border-width: 2px;
		border-style: inherit;
		background-color: #a7cece;
		padding-left: 50px;
		padding-top:23px;
		padding-bottom: 23px;
		margin:10px;
		background-image: url(../img/star/star.png);
		background-repeat: no-repeat;
		background-position: top left;
		border-radius: 15px;
	}
a
	{
		font-style:underline;
		color:#ff6227;
	}